body
{
    margin: 0;
}
#header
{
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    background-color: #c60;
}
#header > img
{
    float: left;
    height: 100%;
    width: 200px;
    max-width: 30%;

}
    
#header > #rightSideHeader
{
    font-weight: 600;
    float: right;
    height: 100%;
    width: 70%;
}
#rightSideHeader > span
{
    width: 90%;
    height: 70%;
    margin:10px auto 10px auto;
    display: block;
    color: white;
    font-size: 4vw;
}

#topNavBar
{
    margin-left: 10%;
}
#topNavBar > span
{
    height: 100%;
    padding: 1em;
    background-color: #c60;
    text-decoration: none;
    color: darkblue;
    font-weight: 600;
}
#mainTextArea
{
    width: 55%;
    height: 500px;
    margin-left: 10%;
    margin-right: 1%;
    float: left;
}
#mainTextArea > p
{
    font-size: 1.3em;
}
#sideBar
{
    font-size: 100%;
    /* border: 2px dotted black; */
    width: 30%;
    max-width: 20em;
    float: left;
}
#sideBar > h3
{
    color:#c60;
}
#sideBar > p
{
    font-size: 1.1em;
}
#footer
{
    position: static;
    background-color: black;
    width: 100%;
    height: 30px;
    font-size: 150%;
    padding: 8px 10% 8px 10%;
    /* border: 2px dotted red; */
    display: inline-block;
    margin-bottom: 0;
    
}
#footer > a
{
    color:white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 3%;
}